[submodule "cmake"]
	path = cmake
	url = /home/jan/workspace/projects/candidate_mc/src/candidate_mc/cmake
[submodule "modules/util"]
	path = modules/util
	url = /home/jan/workspace/projects/candidate_mc/src/candidate_mc/modules/util
